# I94 Immigration Data Prob

### First let's start spark and load the data:

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.enableHiveSupport().getOrCreate();

df = spark.read.parquet('output/immigrations/')
df.createOrReplaceTempView("immigration")
df.show()

+------------------+----------------------+---------+------------+------------+----------+--------------+---+-------------+-----+----------+-----------------+----------+------------+--------------+-----------+---------------------------+----------+------------+----------+-------+----------------+-------------+---------+----+-----+
|birth_country_code|residence_country_code|port_code|arrival_date|arrival_mode|state_code|departure_date|age|visa_category|count|date_added|visa_issuing_post|occupation|arrival_flag|departure_flag|update_flag|match_arrival_departure_fag|birth_year|allowed_date|ins_number|airline|admission_number|flight_number|visa_type|year|month|
+------------------+----------------------+---------+------------+------------+----------+--------------+---+-------------+-----+----------+-----------------+----------+------------+--------------+-----------+---------------------------+----------+------------+----------+-------+----------------+-------------+---------+----+-----+
|               245|                   438|      LOS|  2016-04-30|         Air|        CA|    2016-05-08| 40|     Business|    1|  20160430|              SYD|      null|           G|             O|       null|                          M|      1976|    10292016|      null|     QF|      2147483647|        00011|       B1|2016|    4|
|               245|                   438|      LOS|  2016-04-30|         Air|        NV|    2016-05-17| 32|     Business|    1|  20160430|              SYD|      null|           G|             O|       null|                          M|      1984|    10292016|      null|     VA|      2147483647|        00007|       B1|2016|    4|
|               245|                   438|      LOS|  2016-04-30|         Air|        WA|    2016-05-08| 29|     Business|    1|  20160430|              SYD|      null|           G|             O|       null|                          M|      1987|    10292016|      null|     DL|      2147483647|        00040|       B1|2016|    4|
|               245|                   438|      LOS|  2016-04-30|         Air|        WA|    2016-05-14| 29|     Business|    1|  20160430|              SYD|      null|           G|             O|       null|                          M|      1987|    10292016|      null|     DL|      2147483647|        00040|       B1|2016|    4|
|               245|                   438|      LOS|  2016-04-30|         Air|        WA|    2016-05-14| 28|     Business|    1|  20160430|              SYD|      null|           G|             O|       null|                          M|      1988|    10292016|      null|     DL|      2147483647|        00040|       B1|2016|    4|
|               245|                   464|      HHW|  2016-04-30|         Air|        HI|    2016-05-05| 57|     Pleasure|    1|  20160430|              ACK|      null|           G|             O|       null|                          M|      1959|    10292016|      null|     NZ|      2147483647|        00010|       B2|2016|    4|
|               245|                   464|      HHW|  2016-04-30|         Air|        HI|    2016-05-12| 66|     Pleasure|    1|  20160430|              ACK|      null|           G|             O|       null|                          M|      1950|    10292016|      null|     NZ|      2147483647|        00010|       B2|2016|    4|
|               245|                   464|      HHW|  2016-04-30|         Air|        HI|    2016-05-12| 41|     Pleasure|    1|  20160430|              ACK|      null|           G|             O|       null|                          M|      1975|    10292016|      null|     NZ|      2147483647|        00010|       B2|2016|    4|
|               245|                   464|      HOU|  2016-04-30|         Air|        FL|    2016-05-07| 27|     Pleasure|    1|  20160430|              ACK|      null|           G|             O|       null|                          M|      1989|    10292016|      null|     NZ|      2147483647|        00028|       B2|2016|    4|
|               245|                   464|      LOS|  2016-04-30|         Air|        CA|    2016-05-07| 26|     Pleasure|    1|  20160430|              ACK|      null|           G|             O|       null|                          M|      1990|    10292016|      null|     NZ|      2147483647|        00002|       B2|2016|    4|
|               245|                   504|      NEW|  2016-04-30|         Air|        MA|    2016-05-02| 44|     Pleasure|    1|  20160430|              GUZ|      null|           G|             O|       null|                          M|      1972|    10292016|      null|     UA|      2147483647|        01215|       B2|2016|    4|
|               245|                   504|      LOS|  2016-04-30|         Air|      null|    2016-05-01| 39|     Pleasure|    1|  20160430|              GUZ|      null|           G|             O|       null|                          M|      1977|    10292016|      null|     CM|      2147483647|        00472|       B2|2016|    4|
|               245|                   504|      WAS|  2016-04-30|         Air|        VA|    2016-05-22| 38|     Pleasure|    1|  20160430|              PNM|      null|           G|             O|       null|                          M|      1978|    10292016|      null|     CM|      2147483647|        00488|       B2|2016|    4|
|               245|                   504|      LOS|  2016-04-30|         Air|        CA|    2016-05-03| 56|     Pleasure|    1|  20160430|              PNM|      null|           G|             O|       null|                          M|      1960|    10292016|      null|     CM|      2147483647|        00302|       B2|2016|    4|
|               245|                   504|      LOS|  2016-04-30|         Air|        CA|    2016-05-03| 38|     Pleasure|    1|  20160430|              PNM|      null|           G|             O|       null|                          M|      1978|    10282016|      null|     CM|      2147483647|        00302|       B2|2016|    4|
|               245|                   504|      MIA|  2016-04-30|         Air|        FL|    2016-05-07| 53|     Pleasure|    1|  20160430|              PNM|      null|           G|             O|       null|                          M|      1963|    10292016|      null|     CM|      2147483647|        00430|       B2|2016|    4|
|               245|                   528|      SFR|  2016-04-30|         Air|        CA|          null| 84|     Pleasure|    1|  20160430|              HNK|      null|           G|          null|       null|                       null|      1932|    10282016|      null|     CX|      2147483647|        00872|       B2|2016|    4|
|               245|                   582|      HOU|  2016-04-30|         Air|        TX|    2016-05-09| 43|     Business|    1|  20160430|              GUZ|      null|           G|             O|       null|                          M|      1973|    10292016|      null|     UA|      2147483647|        05574|       B1|2016|    4|
|               245|                   582|      HOU|  2016-04-30|         Air|        TX|    2016-05-09| 30|     Business|    1|  20160430|              GUZ|      null|           G|             O|       null|                          M|      1986|    10292016|      null|     UA|      2147483647|        05574|       B1|2016|    4|
|               245|                   582|      LOS|  2016-04-30|         Air|        CA|    2016-05-01| 34|     Pleasure|    1|  20160430|              SHG|      null|           G|             O|       null|                          M|      1982|    10292016|      null|     AM|      2147483647|        00646|       B2|2016|    4|
+------------------+----------------------+---------+------------+------------+----------+--------------+---+-------------+-----+----------+-----------------+----------+------------+--------------+-----------+---------------------------+----------+------------+----------+-------+----------------+-------------+---------+----+-----+
only showing top 20 rows

AttributeError: 'DataFrame' object has no attribute 'countries'

### Now let's start from simple questions:

#### Q1. Which country does most immigrations come from?

In [7]:
df_countries = spark.read.csv('output/country_codes.csv',header=True)
df_countries.createOrReplaceTempView("country_codes")
df_countries.show()

dfr = spark.sql(
    '''
    select cc.country,count(1)
    from immigration i
    join country_codes cc on cc.code = i.residence_country_code
    group by cc.country
    order by count(1) desc
    '''
)
dfr.show()

+----+--------------------+
|code|             country|
+----+--------------------+
| 582|MEXICO Air Sea, a...|
| 236|         AFGHANISTAN|
| 101|             ALBANIA|
| 316|             ALGERIA|
| 102|             ANDORRA|
| 324|              ANGOLA|
| 529|            ANGUILLA|
| 518|     ANTIGUA-BARBUDA|
| 687|           ARGENTINA|
| 151|             ARMENIA|
| 532|               ARUBA|
| 438|           AUSTRALIA|
| 103|             AUSTRIA|
| 152|          AZERBAIJAN|
| 512|             BAHAMAS|
| 298|             BAHRAIN|
| 274|          BANGLADESH|
| 513|            BARBADOS|
| 104|             BELGIUM|
| 581|              BELIZE|
+----+--------------------+
only showing top 20 rows

+--------------------+--------+
|             country|count(1)|
+--------------------+--------+
|      UNITED KINGDOM|  368421|
|               JAPAN|  249167|
|          CHINA, PRC|  185609|
|              FRANCE|  185339|
|MEXICO Air Sea, a...|  179603|
|             GERMANY|  156613|
|         SOUTH KOREA|  136312|
|              BRAZIL|  134907|
|           AUSTRALIA|  112407|
|               INDIA|  107193|
|           ARGENTINA|   75128|
|         NETHERLANDS|   74619|
|               ITALY|   65782|
|            COLOMBIA|   54330|
|               SPAIN|   49138|
|         SWITZERLAND|   47969|
|              SWEDEN|   45063|
|              ISRAEL|   43435|
|             ECUADOR|   42495|
|           VENEZUELA|   40979|
+--------------------+--------+
only showing top 20 rows

conclusion: top incoming countries are:
|UNITED KINGDOM      |  368421|
|               JAPAN|  249167|
|          CHINA, PRC|  185609|
|              FRANCE|  185339|
|MEXICO Air Sea, a...|  179603|
|             GERMANY|  156613|
|         SOUTH KOREA|  136312|
|              BRAZIL|  134907|
|           AUSTRALIA|  112407|
|               INDIA|  107193